
header{
    text-align: center;
}

.book{
    width: 200px;
    border: 1px solid red;
    margin: 10px;
}

.book:hover{
    cursor: pointer;
}
.book img{
    width: 100%;
}
.book-title{
    font-weight: 600;
}
.books-container{
    display: flex;
    flex-wrap: wrap;
}