.welcome-section{
  margin-top: 25px;
}

.book-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.add-bt{
  margin-right: 20px;
}

.text-center{
  text-align: center;
}

